@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    luxury;
}
@plugin 'tailwindcss-animate';

@theme {
  --breakpoint-sm: 80rem;
  --breakpoint-md: 120rem;
  --breakpoint-lg: 160rem;
  --breakpoint-xl: 240rem;
}
