@import 'tailwindcss';
@plugin 'daisyui' {
  themes:
    cupcake --default,
    luxury --prefersdark;
}
@plugin 'tailwindcss-animate';

@theme {
  --breakpoint-sm: 80rem;
  --breakpoint-md: 120rem;
  --breakpoint-lg: 160rem;
  --breakpoint-xl: 240rem;
}
